@media screen and (max-width: 768px)
{

    /*---------- Général ----------*/

    :root 
    {
        --blue: #0065fc;
        --light-blue: #DEEBFF;
        --grey: #F2F2F2;
        --white: white;
        --dark-grey:#d9d9d9
    }

    body
    {
        padding: 0;
        margin: 0 auto;
    }

    header, main, footer
    {
        min-width: 100%;
    }

    .section1
    {
        margin: 0 auto;
        padding: 0 10px;
    }

    /*---------- Header ----------*/

    header
    {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }

    header h1 a
    {
        width: auto;
        height: 20px;
        margin-left: 60px;
    }

    header nav
    {
        width: 100%;
    }

    nav div
    {
        border-top: 3px solid transparent;
        line-height: 62px;
        border-bottom: 3px solid transparent; 
        text-align: center;
        width: 50%;
    }

    nav div:hover
    {
        border-top:solid 3px transparent;
        line-height: 62px;
        border-bottom: 3px solid #0065fc;
        width: 50%;
    }

    nav a
    {
        font-weight: 500;
        font-size: 16px;
    }

    /*---------- search bar ----------*/

    .search-bar
    {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }

    .icon-search
    {
        width: 15%;
    }

    .bouton-search
    {
        width: 15%;
        height: 50px;
    }

    .container-input
    {
        width: 80%;
    }
    .container-input input
    {
        width: 100%;
    }

    .display-search
    {
        display: none;
    }

    .bouton-search i
    {
        display: block;
        color: var(--white);
    }

    /*---------- filtre ----------*/

    .container-filter
    {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }

    .container-filter h3
    {
        margin-top: 40px;
        width: 100%;
    }

    .filter
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: auto;
        column-gap: 10px;
        border-radius: 25px;
        margin-top: 0;
        width: 100%;
        margin-bottom: 30px;
        padding-letf: 0;
    }

    .filter-text
    {
        font-size: 12px;
        font-weight: 700;
    }

    .filter-texticons
    {
        width: auto;
        height: 50px;
        padding: 0 10px;
    }

    /* info */

    .info
    {
        margin: 0 auto;
    }

    /*---------- accommodation and popular ----------*/

    .accommodation-and-popular
    {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 50px;
        grid-template-areas: 
        "popular"
        "accommodation";
    }

    /*---------- Accommodation ----------*/

    .accommodation-and-popular .accommodation
    {
        grid-area: accommodation;
        order:2;
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 0;
        background-color: var(--white);
        padding: 0 20px 15px 10px;
        margin-bottom: 40px;
        height: 1480px;
    }

    .accommodation-and-popular a
    {
        display: none;
    }
    .accommodation-card img
    {
        height: 124px;
    }


    /*---------- popular ----------*/

    .accommodation-and-popular .popular
    {
        grid-area: popular;
        order: 1;
        padding: 0 20px 15px 10px;
        border-radius: 0;
        background-color: var(--grey);
    }

    article
    {
        height: 144px;
    }


    /*---------- Activities ----------*/


    .block-activities
    {
        height: 960px;
        padding: 0 10px 15px 10px;
    }

    .block-activities div
    {
        display: flex;
        flex-direction: column;
    }


    .block-activities div h3
    {
        order: 1;
    }

    .block-activities h3
    {
        width: 120px;
    }

    .block-activities div div
    {
        height: 190px;
    }

    .block-activities img
    {
        height: 134px;
    }

    .activvty-1{
        order:2;
    }
    .activity-2{
        order:3;
    }
    .activity-3{
        order:4;
    }
    .activity-4{
        order:5;
    }

    /*---------- footer ----------*/

    .block-info
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 460px;
        padding-left: 30px;
    }
    
    }

@media screen and (max-width:290px)
{
    .filter
    {
        display:grid;
        grid-template-columns: 1fr;
    }

    .filter-texticons
    {
        width: 90%;
    }

}

}
